[demo-todo] {text-align:left;
  ul {list-style:none;padding:0 2rem;display:block;
    li.item {position:relative;display:block;width:100%;padding:0.5rem 2rem;background:rgba(255,255,255,0.2);border-bottom:1px dashed darken(#15948b, 5%);
      button {position:absolute;top:50%;left:0;display:inline-block;border:0;color:#fff;background:#de2e53;transform:translateY(-50%) translateX(50%);cursor:pointer;}
    }
    li.adder {padding-top:0.5rem;
      form {width:100%;position:relative;
        input {display:block;width:100%;border:0;outline:0;font-size:110%;padding:2%;line-height:1;}
        button {position:absolute;top:0;right:0;bottom:0;display:inline-block;border:0;color:#fff;background:darken(#15948b, 20%);}
      }
    }
    li:nth-last-child(2) {border-bottom:0;}
  }
}